# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyTorch checkpoints / logs / data
*.ckpt
*.pt
*.pth
outputs
data
.lightning/
lightning_logs/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
.DS_Store

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Cython compiled files
matcha/utils/monotonic_align/core.c

# Ignoring hifigan checkpoint
generator_v1
g_02500000
gradio_cached_examples/
synth_output/

# Local Matcha-TTS artifacts and exports
model_tflite/
model_e2e_tflite/
model_e2e_test_tflite/
replace.json
utterance_001.npy
utterance_001.png
utterance_001.wav
*.onnx

